@import './tactical-board';

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(73, 90, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  //   height: 100vh;
  //   overflow: hidden;
  margin: 0;
}
h1 {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.square {
  width: 24px;
  height: 24px;

  margin: 1px;
}
.team {
  height: 843px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(219, 207, 207, 0.377);
  box-shadow: 2px 2px 5px rgba(198, 198, 198, 0.36);

  border-radius: 20px;
}

// row {
//   display: flex;
//   width: 600px;
//   justify-content: space-between;
//   margin-bottom: 1rem;
// }

// .col-header {
//   width: 150px;
//   box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
//   border-radius: 20px;
//   padding: 0.8rem 1rem;
//   color: #fff;
// }

.item {
  width: 24px;
  height: 24px;
  //   border: 1px solid #eee;
  //   box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 50%;

  //   background: #f7f6f7;
  //   padding: 0.8rem 1rem;
  //   color: #828282;
  background-color: rgb(248, 248, 8);
  //   text-align: center;
  cursor: grab;
}
.item1 {
  width: 24px;
  height: 24px;

  border-radius: 50%;

  background-color: rgb(248, 8, 8);

  cursor: grab;
}

// .item:active {
//   cursor: grabbing;
// }

.placeholder {
  width: 24px;
  height: 24px;
  margin-bottom: 8px;
}

// .start {
//   background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
// }

// .progress {
//   background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
// }

// .done {
//   background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
// }

.hold {
  border: 2px solid #7523df;
}

.hide {
  display: none;
}

.hovered {
  border: 2px solid #8eeda6;
  border-radius: 20px;
}
