<article class="tactical-board">
  <h1>Тактическая доска</h1>
  <!-- <div class="container">
    <div class="team">
      <h2>Team A</h2>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item" draggable="true"></div>
      </div>
    </div>

    <div class="background" id="board"></div>

    <div class="team">
      <h2>Team B</h2>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
      <div class="placeholder">
        <div class="item1" draggable="true"></div>
      </div>
    </div>
  </div> -->

  <div class="container">
  <div class="team">
    <h2>Team A</h2>
    <div class="placeholder dropZone" data-zone="1">
      <ul class="list">
        <li class="item-list">
          <div class="item dragItem" draggable="true" data-item="1">1</div>
        </li>
        <li class="item-list">
          <div class="item dragItem" draggable="true" data-item="2">2</div>
        </li>
        <li class="item-list"> <div class="item dragItem" draggable="true" data-item="3">3</div>
        </li>
        <li class="item-list"></li>
        <li class="item-list"></li>
        <li class="item-list"></li>
        <li class="item-list"></li>
        <li class="item-list"></li>
        <li class="item-list"></li>
        <li class="item-list"></li>
        <li class="item-list"></li>
      </ul>
      
      
      
      <div class="item dragItem" draggable="true" data-item="4">4</div>
      <div class="item dragItem" draggable="true" data-item="5">5</div>
      <div class="item dragItem" draggable="true" data-item="6">6</div>
      <div class="item dragItem" draggable="true" data-item="7">7</div>
      <div class="item dragItem" draggable="true" data-item="8">8</div>
      <div class="item dragItem" draggable="true" data-item="9">9</div>
      <div class="item dragItem" draggable="true" data-item="10">10</div>
      <div class="item dragItem" draggable="true" data-item="11">11</div>
    </div>
  </div>

  <div class="background " id="board" ></div>

  <div class="team">
    <h2>Team B</h2>
    <div class="placeholder dropZone" data-zone="3">
      <div class="item1 dragItem" draggable="true" data-item="12">1</div>
      <div class="item1 dragItem" draggable="true" data-item="13">2</div>
      <div class="item1 dragItem" draggable="true" data-item="14">3</div>
      <div class="item1 dragItem" draggable="true" data-item="15">4</div>
      <div class="item1 dragItem" draggable="true" data-item="16">5</div>
      <div class="item1 dragItem" draggable="true" data-item="17">6</div>
      <div class="item1 dragItem" draggable="true" data-item="18">7</div>
      <div class="item1 dragItem" draggable="true" data-item="19">8</div>
      <div class="item1 dragItem" draggable="true" data-item="20">9</div>
      <div class="item1 dragItem" draggable="true" data-item="21">10</div>
      <div class="item1 dragItem" draggable="true" data-item="22">11</div>
    </div>
  </div>
</article>
