<article class="tactical-board">
 
  <div class="container">

    <h1>Тактическая доска</h1>

    <div class="tactical">
      <div class="team">
    <h2>Team A</h2>
    <div class="placeholder dropZone" data-zone="1">         

      <div class="item dragItem" draggable="true" data-item="1">1</div>
      <div class="item dragItem" draggable="true" data-item="2">2</div>
      <div class="item dragItem" draggable="true" data-item="3">3</div>
      <div class="item dragItem" draggable="true" data-item="4">4</div>
      <div class="item dragItem" draggable="true" data-item="5">5</div>
      <div class="item dragItem" draggable="true" data-item="6">6</div>
      <div class="item dragItem" draggable="true" data-item="7">7</div>
      <div class="item dragItem" draggable="true" data-item="8">8</div>
      <div class="item dragItem" draggable="true" data-item="9">9</div>
      <div class="item dragItem" draggable="true" data-item="10">10</div>
      <div class="item dragItem" draggable="true" data-item="11">11</div>
                    
      
    </div>
  </div>

  <div class="background " id="board" ></div>

  <div class="team">
    <h2>Team B</h2>
    <div class="placeholder dropZone" data-zone="2">
      <div class="item1 dragItem" draggable="true" data-item="12">1</div>
      <div class="item1 dragItem" draggable="true" data-item="13">2</div>
      <div class="item1 dragItem" draggable="true" data-item="14">3</div>
      <div class="item1 dragItem" draggable="true" data-item="15">4</div>
      <div class="item1 dragItem" draggable="true" data-item="16">5</div>
      <div class="item1 dragItem" draggable="true" data-item="17">6</div>
      <div class="item1 dragItem" draggable="true" data-item="18">7</div>
      <div class="item1 dragItem" draggable="true" data-item="19">8</div>
      <div class="item1 dragItem" draggable="true" data-item="20">9</div>
      <div class="item1 dragItem" draggable="true" data-item="21">10</div>
      <div class="item1 dragItem" draggable="true" data-item="22">11</div>
    </div>
  </div>
    </div>

  
  <div class="ball dropZone" data-zone="3">
    <div class="ballItem dragItem" draggable="true" data-item="23"></div>
  </div>
</article>
